data/
results/
temp/delta_p.p
temp/iekfnets.p
temp/normalize_factors.p
src/__pycache__
src/plot
src/*.txt
src/res.txt
dataset/sheco_data/merged_output_py_200_final1.csv
dataset/sheco_data/merged_output_py_200_final2.csv
dataset/sheco_data/merged_output_py_200_final3.csv
